


div.dbee-contact div { margin-bottom: 1em; }
div.dbee-contact-name div { margin: 0 0 0 0; padding: 0 0 0 0;} 

div.dbee-contact-name .dbee-name {font-weight: bold; }
div.dbee-contact-name .dbee-concern { margin: 0; font-style: italic; }
